body {
  margin: 0;
  height: 100%;
  background: #ffffff;
}

p {
  margin: 0px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
}

.dark {
  background: #2c2c2c;
}

.dark .headerHySecure {
  background-color: #2c2c2c;
}

.dark .topLeftBox {
  background: #353535;
  border-right: 1px solid #5D5350;

}
.dark .topRightBox {
  background: #F37B59;
}

.dark .primaryTab {
  background: #353535;
  border-right: 1px solid #353535;
}

.dark .navtabImg, .dark .drkThirdlvlBtn button {
  color: #bab5b4;
}

.dark .navtabImg:hover, .dark .subTab:hover, .dark .thirdButtonTab {
  color: #ffffff;
}

.dark .secondaryTab {
  overflow: auto;
}

.dark .tertiaryTab {
  width: 100%;
}

.dark .tertiaryTab .thirdButtonTab:hover {
  color: #F69C83;
  background: #353535;
}

.dark .thirdButtonTab[data-active] {
  box-sizing: border-box;
  color: #F69C83 !important;
  background: #2C2C2C !important;
}

.headerHySecure {
  height: 48px;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.imgLogo {
  padding: 4px 22px 0;
}
.title {
  font-weight: normal;
  letter-spacing: 0.355556px;
  color: #f05a30;
  font-size: 8.88889px;
  line-height: 12px;
  margin: -5px;
}

.topLeftBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 48px;
  background: #e8e6e6;
  border-right: 1px solid #e8e6e6;
  border-right: 1px solid #e8e6e6;

}

.topRightBox {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: #f37b59;
}

.icons {
  font-size: 18px !important;
  height: 20px;
  color: #fdefea;
  cursor: pointer;
}

.icons:hover {
  color: #ffffff;
}

.primaryTab {
  width: 72px;
  height: calc(100vh - 48px);
  background: #F5F5F5;
  border-right: 1px solid #e8e6e6;
  position: fixed;
  top: 48px;
  left: 0;
  overflow: auto;
}

.navtabImg {
  color: #a39d9b;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
}

.navtabImg:hover {
  color: #180905;
}

.content {
  position: relative;
  top: 48px;
  margin-left: 73px;
}

.primaryTab::-webkit-scrollbar {
  width: 5px;
}

.secondaryTab {
  white-space: nowrap;
}

.tertiaryTab {
  white-space: nowrap;
  display: inline-block;
}

/* Style the buttons inside the tab */

.subTab {
  color: #FBCDC1;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: 0;
}

/* Change background color of buttons on hover */

.subTab:hover {
  color: #ffffff;
  /* border-bottom-color: #96837e; */
}

.thirdButtonTab {
  font-family: Segoe UI;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  outline: 0;
}

.tertiaryTab .thirdButtonTab:hover {
  color: #f05a30;
  background: #fdefea;
}

.navtabImg[data-active] {
  color: #f37b59 !important;
  border-right: 5px solid #f37b59;
  border-radius: 0px;
}
.navtabImg .icon {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}
.subTab[data-active] {
  position: relative;
  color: #ffffff !important;
  border-radius: 0px;
}
.subTab[data-active]::before{
  content: '';
  position: absolute;
  border-top: 5px solid #ffffff;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 32px);
  margin-left: 16px;
}
.thirdButtonTab[data-active] {
  background: #ffffff !important;
  box-sizing: border-box;
  color: #F37B59 !important;
}

@media (min-width: 768px) {
  .topRightBox {
      margin-left: 72px;
      padding-right: 4px;
  }

  .navtabImg {
      padding: 10px 0px;
      text-align: center;
      width: 72px;
      height: 72px;
      border-right:5px solid transparent;
  }
  .icon-name {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      font-weight: normal;
  }
  .subTab {
      padding: 14.5px 16px;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.1px;
  }

  .tertiaryTab {
      background: #F69C83;
      width: 100%;
  }

  .thirdButtonTab {
      padding: 8px 16px;
      border-radius: 0px;
  }

  .thirdButtonTab p {
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
  }

  .iframeTab {
      margin: 8px 0 0px;
  }
  .tabLinks {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1.25px;
  }

  .listing {
      width: 96px;
      height: 48px;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
}

.secondaryTab,
.hasSecondary .tertiaryTab,
.tertiaryTab {
  display: none;
}

.hasSecondary .secondaryTab,
.hasTertiary .secondaryTab {
  display: block;
}

.hasTertiary .tertiaryTab {
  display: inline-flex;
}

iframe {
  border: 0;
  width: 100%;
  height: calc(100vh - 124px);
}

.hasSecondary iframe {
  height: calc(100vh - 60px) !important;
}

.hasTertiary iframe {
  height: calc(100vh - 92px) !important;
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f37b59;
  font-size: 10px;
}

@keyframes clock {
  from {
      transform: translate(0, -50%) rotate(0deg);
  }

  to {
      transform: translate(0, -50%) rotate(360deg);
  }
}

.clock {
  height: 6em;
  width: 6em;
  border: 0.5em solid currentColor;
  border-radius: 50%;
  position: relative;
}

.clock::before {
  animation: clock 1s linear;
  width: 2.5em;
}

.clock::after {
  animation: clock 5s linear;
  width: 2em;
}

.clock::before,
.clock::after {
  content: "";
  height: 0.5em;
  background-color: currentColor;
  position: absolute;
  border-radius: 1em;
  top: 50%;
  left: 50%;
  animation-iteration-count: infinite;
  transform-origin: left;
}

/* 
@media(min-width:1440px) {} */
